body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #79030c;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  .problema, .formulario {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  button {
    background: #740e29;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background: #7a1321;
  }
  
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
  }    
